.boxs{
    display: flex;
   /* flex-direction: row;*/
    padding: 2%;
    
}

.box{
    padding-left: 1%;

}

/* Crear Espacio en la Tabla*/

/*

table{
    display: flex;
    justify-content: space-around;
}
thead{
    padding: 2%;
    justify-content: space-between

}
th{
    padding-left: 30%;
    justify-content: space-between
    ;
}

*/